.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.product-recommendations .grid__item {
  padding-bottom: 0;
}
.recommendation-list {
  overflow: hidden;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.recommendation-list-m {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.recommendation-item-m {
  margin-bottom: 2.5%;
  padding-right: 17%;
  width: 48%;
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
}
.recommendation-item-m img {
  width: 100%;
  height: 175px;
  object-fit: contain;
  margin-right: 10%;
  top: 0;
}
.recommendation-item-m button {
  top: 0;
  right: 0;
  padding: 0 2%;
  background-color: #f5be0b;
  height: 100%;
  text-decoration: none;
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
}
.recommendation-item {
  position: relative;
  margin: 0.5%;
  width: 33% !important;
}
.recommendation-item button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 3% 5%;
  background-color: #f5be0b;
  border: none;
}
.slider-prev-recommendation,
.slider-next-recommendation {
  position: absolute;
  width: 35px;
  height: 35px;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100%;
}
.slider-prev-recommendation {
  left: -35px;
}
.slider-next-recommendation {
  right: -35px;
}
