.slider-container {
  width: 100%;
  position: relative;
  padding: 0;
  z-index: 1;
  overflow: hidden;
}
.slider-prev,
.slider-next {
  position: absolute;
  display: block;
  height: 95%;
  width: 10%;
  cursor: pointer;
  text-align: center;
  top: 0;
  border: none;
  background: none;
  line-height: 30px;
  z-index: 2;
}
.slider-prev {
  left: 2%;
}
.slider-next {
  right: 2%;
}
.slider-indicator .glider-dots {
  margin-top: -10px;
}
.banner-slider {
  overflow: hidden;
  height: 100%;
}

.glider-track {
  height: 100% !important;
}

.glider-slide {
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection > .glider-slide {
  width: 33% !important;
}
.glider-dots {
  position: absolute;
  bottom: 0px;
  z-index: 1;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}

.glider-dot {
  color: #f5be0b;
  background: #f5be0b;
  opacity: 0.5;
}

.glider-dot.active {
  color: #f5be0b;
  background: #f5be0b;
  opacity: 1;
}
.banner__content {
  position: relative;
}

.banner-publi-button {
  display: none;
  position: absolute;
  background-color: #f5be0b;
  right: 10%;
  bottom: 0;
}

@media screen and (min-width: 990px) {
  .banner-publi-button {
    display: flex;
  }
}

.banner {
  width: 100%;
  height: 100%;
  margin: 5rem 0;
}

@media screen and (max-width: 989px) {
  .slider-container {
    margin-top: 0;
  }
}

/*.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: initial;
}

@media screen and (max-width: 749px) {
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    min-height: 72rem;
    flex-direction: row;
  }
}

@media screen and (max-width: 749px) {
  .banner--stacked {
    height: auto;
  }

  .banner--stacked .banner__media {
    flex-direction: column;
  }
}

.banner__media {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
}

.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

@media screen and (max-width: 749px) {
  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }

  .banner:not(.banner--adapt):not(.banner--stacked) > .banner__media {
    height: 39rem;
  }
}

@media screen and (min-width: 750px) {
  .banner__media {
    position: absolute;
    height: 100%;
  }
}

.banner--adapt {
  height: auto;
}

@media screen and (max-width: 749px) {
  .banner--stacked:not(.banner--adapt) .banner__media {
    height: 39rem;
  }

  .banner::before {
    display: none !important;
  }

  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}

.banner__media .placeholder-svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner__content {
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .banner__content {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

.banner__box {
  border: 0;
  padding: 4rem 3.5rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
}

.banner__box > * + .banner__buttons {
  margin: 0 auto;
  margin-top: 2.3rem;
  transform: translateX(1rem);
}

.banner__box > * + .banner__buttons--multiple {
  display: flex;
  max-width: 45rem;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__buttons {
    margin-top: 2rem;
  }
}

.banner__content .button + .button {
  margin-top: 1.5rem;
}

.banner__content .button {
  height: auto;
  margin-right: 2rem;
}

.banner__box > * + .banner__text {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__text {
    margin-top: 2rem;
  }
}

.banner__box > * + * {
  margin-top: 1rem;
}

.banner__box > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .banner__content .button {
    flex-grow: 1;
  }

  .banner--stacked .banner__box {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .banner__box {
    padding: 4rem;
    width: 54.8rem;
  }

  .banner__box > .banner__buttons:only-child .button {
    margin-top: 0;
  }
}

.banner__heading > *,
.banner__text > * {
  word-wrap: break-word;
}

.banner__heading {
  margin-bottom: 0;
}*/
